email_credentials.txt
results_underway.csv
qiskit_settings.txt
test_settings.txt
__pycache__/
"myenv/Lib/site-packages/torch/lib/"
myenv/
venv/
.ipynb_checkpoints
env/
qruns_*.db
*.db
*.sql
*.sqlite
*.csv
*.pkl
*.npy
*.npz
.venv/
myenv/
.env
*.egg-info/
build/
dist/